.input-container{
    height: 50px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 10px;
}

.label-container{
    background-color: var(--primary_green);
    height: 20px;
    width: 63px;
    border-radius: 4px;
    position: absolute;
    left: 18px;
    top: -9px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input{
    height: auto;
    border: transparent;
    padding: 0 10px;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    color: white;
}

.input-container input:focus-visible{
    outline: none;
}

.input-container:focus-within{
    border: 2px solid white;
}

.input-container img{
    height: 16px;
}

.leftSide-container{
    width: 80%;
}

.input-error-container{
    height: 25px;
    margin: 10px 0;
}