.authenticationContainer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.leftSide{
    width: 50%;
    background-color: var(--primary_black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftSide-container a{
    color: white;
    text-decoration: none;
}

.rightSide{
    width: 50%;
    background-color: var(--primary_green);
}

.welcome-text{
    margin-top: 1rem;
    width: 80%;
}

.welcome-text h1 {
    margin: 0;
    color: rgb(226, 226, 226);}


.welcome-text p {
    margin: 10px 0;
    color: rgb(226, 226, 226);
    line-height: 25px;
    font-size: 14px;
}

.authentication-button {
    border: unset;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
   /* width: 100%; */
    height: 50px;
}

.leftSide-container p {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4rem;
    cursor: pointer;
}

.fieldError {
    color: red;
    font-size: 12px;
    margin: 10px 0;
}

.noFieldError{
    color: transparent;
    margin: 10px 0;
}

.input-button-fields {
    margin: 3rem 0;
}

.registration-step-container {
    border-radius: 4px;
    margin-top: 2rem;
    width: 70%;
}

.registration-step-container .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.registration-step-container .header-container p {
    color: var(--primary_green);
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.step-icon {
    height: min-content;
    background-color: white;
    color: var(--primary_green);
    font-weight: bold;
    font-size: 13px;
    width: 12%;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    float: right;
}
.authentication-button-alternate{
    background-color: transparent;
    color: var(--primary_green);
    border: 1ppx solid white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}