:root{
  --primary_green:#0CCE6B;
  --primary_black:#0C090D;
  --dashboard_main:#1f1f1f;
  --dashboard_accent:#4a4a4a;
}

*{
  font-family: 'Raleway', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
}