:root{
  --primary_green:#0CCE6B;
  --primary_black:#0C090D;
  --dashboard_main: #5e5e5e;
  --dashboard_accent:#e1e1e1;
}

*{
  font-family: 'Raleway', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
}